.header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}
form{
    margin: 10%;
}
body{
    background-color: dimgray;
}
nav{
    background-color: #c1c1b0;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0.5em 0;
    margin: 0;
    list-style-type: none;

}
.nav-hidden {
    display: block;
}
li{
    margin: auto;
}
a{
    display: inline-block;
    list-style-type: none;
    margin: 10px;

}
a{
    text-decoration: none;
    padding: 8px;
    color: black;
}
a:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
}
.imgH{
    height: 130px;
    width: 130px;
}
.h{
    margin: 10% 0 0 0 ;
}
/*
#map{
    margin: 10% auto 0% auto;
    z-index: -1;

}*/