.header{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}
body{
    background-color: dimgray;
}
nav{
    background-color: #c1c1b0;
}
ul{
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0.5em 0;
    margin: 0;
    list-style-type: none;

}
.nav-hidden {
    display: block;
}
li{
    margin: auto;
}
a{
    display: inline-block;
    list-style-type: none;
    margin: 10px;

}
a{
    text-decoration: none;
    padding: 8px;
    color: black;
}
a:hover{
    transition: 0.5s;
    background-color: rgba(105, 105, 105, 0.377);
    color: black;
}
.imgH{
    height: 130px;
    width: 130px;
}
.a{
    margin: 12% 0 0 0;
    width: 100%;
    min-height: 80vh;
    position: relative;
}
.imgAccueil{
    width: 98%;
    height: 70%;
    object-fit: cover;
    filter: brightness(50%);
    display: block;
    margin: auto;
}
.b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.c{
    display: flex;
    justify-content: space-between;
    width: 99%;
    padding: 0.5em;

    margin: auto;
}
.leftbox{
    width: 50%;
    background-color: #454444;
}
.rightbox{
    width: 49%;
    background-color: #454444;
}
h3{
    text-align: center;
}
.consiste{
    width: 250px;
    height: 250px;
    margin: 10px;
}

