* {
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-direction: column;
    background-color: #e7e5d7;
    justify-content: center;
    align-items: center;
}

.header{
    width: 98%;
    z-index: 100;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #9bc6ca;
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

li{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    display: inline-block;
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 8px;
    color: black;
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 8px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}

a:hover{
    transition: 0.5s;
}

.imgH{
    height: 70px;
    width: 70px;
}
footer {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9bc6ca;
    margin: 5px;
    bottom: 0;
    left: 0;
    padding: 5px;
}
@media (max-width: 800px){
    .pFooter{
        text-align: center;
    }
}
