<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/../../../../_assets/styles/comparaison.css">
  <title>Comparaison</title>
</head>
<body>
  <h1>
    Comparaison entre deux fichiers
  </h1>
  <form  method="post" action="/comparaisonFichier">
    <div class="Fichiers">
      <div class="Fichiers1">
        <label for="file1" id="Texte1">
          <h2>  Simulation : </h2>
        </label>
        <input type="file" id="file1" name="file1" multiple>
      </div>
      <button type="submit">Comparer</button>
      <div class="Fichiers2">
        <label for="file2" id="Texte2">
          <h2>Donnée réelle : </h2>
        </label>
        <input type="file" id="file2" name="file2" multiple>
      </div>
    </div>
  </form>
</body>
</html>


