

<div id="trait" style="display: none;"></div>
<div id="mainDisplay" style="display: none;">
  <button id="mapSettingsButton" class="map-settings-button"><ion-icon name="arrow-back"></ion-icon></button>
  <div id="settingsPopup" style="display: none;">
      <form id="addFileContainer" method="post" action="/comparaisonFichier" enctype="multipart/form-data" class="add-file-container">
          <label for="file2" class="add-file-label">Ajouter un fichier GeoJSON</label>
          <input type="file" name="filesToAdd[]" id="file2" class="add-file-input" required multiple>
          <button type="submit" id="addFileButton" class="add-file-button">Ajouter à la carte</button>
      </form>

      <div id="color-selectors"></div>
  </div>
  <div id="map"></div>
</div>

<div class="espace"></div>
<div class="menuGraphique">
    <h2>Gestionnaire de graphique</h2>
    <div id='listeGraphique'>
        <div class="graphique">
            <input type="checkbox" id="nbBatiments" name="nbBatiments" value="nbBatiments">
            <label for="nbBatiments">Nombre de batiments par fichier</label>
        </div>
        <div class="graphique">
            <input type="checkbox" id="aireMoyenne" name="aireMoyenne" value="aireMoyenne">
            <label for="aireMoyenne">Aire moyenne des batiments par fichier</label>
        </div>
        <div class="graphique">
            <input type="checkbox" id="graphique3" name="graphique3" value="graphique3">
            <label for="graphique3">Graphique 3</label>
        </div>
        <div class="graphique">
            <input type="checkbox" id="graphique4" name="graphique4" value="graphique4">
            <label for="graphique4">Graphique 4</label>
        </div>
        <div class="graphique">
            <input type="checkbox" id="graphique5" name="graphique5" value="graphique5">
            <label for="graphique5">Graphique 5</label>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

