<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/../../../../_assets/styles/comparaison.css">
  <title>Comparaison</title>
</head>
<body>
  <h1>
    Comparaison entre deux fichier
  </h1>
  <div class="h">
    <label for="Fichier1">Choisissez le premier fichier :</label>
    <input type="file" id="Fichier1" name="Fichier1">
  </div>
  <div>
    <label for="Fichier2">Choisissez le deuxième fichier :</label>
    <input type="file" id="Fichier2" name="Fichier2">
  </div>
</body>
</html>