<body>
    <h1>Gestion des fichiers GeoJSON</h1>
    <div class="file-upload">
        <form action="/telechargerFichier" method="post" enctype="multipart/form-data">
            <label for="file">Choisir un fichier GeoJSON:</label>
            <input type="file" name="file" id="file" accept=".geojson">
            <label for="folder">Nom du dossier</label>
            <input type="text" name="folder" id="folder" required> 
            <button type="submit">Uploader</button>
        </form>
    </div>
    <div class="file-list">
        <h2>Fichiers disponibles</h2>
        <ul>
            <?php include __DIR__ . '/../../controllers/liste_fichiers.php'; ?>
        </ul>
    </div>
</body>