<!DOCTYPE html>
<link rel="stylesheet" href="/../../../../_assets/styles/style.css">

<body>
    <header class="header">
        <nav id="nav-menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/">Comparaison</a></li>
                <button href="/"><li><img src="/../../../../_assets/images/logoDevUrbain.png"> </li></button>
                <li><a href="/">Simulation</a></li>
                <li><a href="/">....</a></li>
            </ul>
        </nav>
</header>
<html>
