<body>
<h1 class="mainTitle">Accueil</h1>
<div class="middleBox">
    <div class="gallery" style="--total:3">
        <div class="img" style="--i:1">
            <img src="/../../../../_assets/images/imgAccueil2.jpeg" alt="img2">
        </div>
        <div class="img" style="--i:2">
            <img src="/../../../../_assets/images/imgAccueil3.jpeg" alt="img3">
        </div>
        <div class="img" style="--i:3">
            <img src="/../../../../_assets/images/imgAccueil1.jpeg" alt="img1">

        </div>
    </div>

</div>
<div class="box">
    <div class="littleBox">
        <h3>
            En quoi consiste ce projet ?
        </h3>
        <div class="texte">
            <img class="consiste" src="/../../../../_assets/images/consiste.png" alt="consiste.png">
            <p>
                Ce projet consiste à développer une interface graphique qui montre l'evolution de certains quartiers (favelas,bidonvilles) pour des pays en développement.
            </p>
        </div>
    </div>
    <div class="littleBox">
        <h3>
            Quels est l'objectif de ce projet ?
        </h3>
        <div class="texte">
            <img class="consiste" src="/../../../../_assets/images/objectif.jpg" alt="objectif.jpg">
            <p>
                L'objectif principal du projet est de créer un outil basé sur des techniques d'intelligence artificielle qui aide à modéliser et simuler l'évolution des quartiers informels.
            </p>
        </div>
    </div>
</div>
</body>
</html>