<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/../../../../_assets/styles/style.css">
    <title>Accueil</title>
</head>
<body>
<div class="a">
    <img class="imgAccueil" src="/../../../../_assets/images/imgAccueil.jpeg">
    <div class="b">
        <h1>
            Accueil
        </h1>
    </div>
</div>

<div class="c">
    <div class="leftbox">
        <h3>
            En quoi consiste ce projet ?
        </h3>
        <div class="pp">
            <img class="consiste" src="/../../../../_assets/images/consiste.png">
            <p>
                Ce projet consiste à développer une interface graphique qui montre l'evolution de certains quartiers (favelas,bidonvilles) pour des pays en développement.
            </p>
        </div>
    </div>
    <div class="rightbox">
        <h3>
            Quels est l'objectifs de ce projet ?
        </h3>
        <div class="pp">
            <img class="consiste" src="/../../../../_assets/images/objectif.jpg">
            <p>
                L'objectif principal du projet est de créer un outil basé sur des techniques d'intelligence artificielle qui aide à modéliser et simuler l'évolution des quartiers informels.
            </p>
        </div>
    </div>
</div>
</body>
</html>