<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page principal</title>
    <link rel="stylesheet" href="/../../../../_assets/styles/style.css">
</head>
<body>
    <header class="header">
            <nav id="nav-menu">
                <ul>
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="/">....</a></li>
                    <li><img src="/../../../../_assets/images/logoDevUrbain.png"> </li>
                    <li><a href="/">....</a></li>
                    <li><a href="/">....</a></li>
                </ul>
            </nav>
    </header>
<html>
    <h1 class="h1">
        Acceuil
    </h1>
</html>
</body>
</html>